# dependencies
/node_modules

# next
/.next
/out

# angular legacy artifacts
/.angular
/dist
/tmp
/out-tsc

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo
