<h1 class="page_header">Skills</h1>
<div class="page_container">
  <div class="categories_container">
    <mat-card *ngFor="let category of categories" class="category">
      <mat-card-header class="category_title">
        <mat-card-title>
          <h2>{{ category }}</h2>
        </mat-card-title>
      </mat-card-header>
      <div class="skills_container">
        <div *ngFor="let skill of data[category]" class="skill">
          <div class="skill_label">
            <div class="skill_img_container">
              <img
                [src]="skill.skillIcon | sanityImage : 50"
                alt="{{ skill.title }} Icon"
              />
            </div>
            <div class="skill_title_container">
              <h3 class="skill_title">{{ skill.title }}</h3>
            </div>
            <button
              mat-icon-button
              [routerLink]="['/skills', skill.slug.current]"
            >
              <ng-icon name="ionArrowForwardCircle"></ng-icon>
            </button>
          </div>
          <mat-progress-bar
            mode="determinate"
            [value]="skill.experience * 10"
          ></mat-progress-bar>
        </div>
      </div>
    </mat-card>
  </div>
</div>
