/* header {
    background: var(--background);
    position: relative;
    width: 100vw;
    margin-bottom: 1.45em;
}

-interior {
    margin: 0 auto;
    max-width: 960;
    padding: 1.45rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

-interior h1 {
    margin: 0;
    overflow: hidden;
    max-height: 4rem;
    max-width: 4rem;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1rem;
    list-style-type: none;
    text-align: center;
    justify-content: end;
    padding-bottom: 1rem;
    margin-bottom: 0;
    transform: translateY(25%);
}

.nav-link, .menu li .highlighted {
    color: var(--foreground);
    text-decoration: none;
    margin: 1rem;
}

-interior button {
    visibility: hidden;
}

-interior .menu-toggle {
    display: none;
}

@media screen and (max-width: 500px) {
    -interior .menu-toggle {
        display: block;
    }

    .menu {
        max-height: 0;
    }

    -interior .menu-toggle:checked ~ .menu {
        max-height: 240px;
    }
} */

header {
    width: 100%;
    z-index: 3;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

header h1 {
    max-width: 5rem;
    margin-bottom: 0;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    width: 100%;
    color: var(--foreground);
}

.nav-link, .highlighted {
    color: var(--foreground);
    display: block;
    margin: 20px 20px;
    text-decoration: none;
    font-size: 1.45rem;
  }
  
.logo {
    max-height: 4rem;
    display: block;
    float: left;
    font-size: 2em;
    text-decoration: none;
  }

  .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

   .menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 1.75rem;
    padding-right: 1rem;
    position: relative;
    user-select: none;
  }

  .menu-btn:checked ~ .menu-icon {
      justify-content: flex-start;
  }
  
   .menu-icon .navicon {
    background: var(--foreground);
    display: block;
    height: .20rem;
    position: relative;
    transition: background .2s ease-out;
    width: 2rem;
  }
  
   .menu-icon .navicon:before,
   .menu-icon .navicon:after {
    background: var(--foreground);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
   .menu-icon .navicon:before {
    top: .5rem;
  }
  
   .menu-icon .navicon:after {
    top: -.5rem;
  }

   .menu-btn {
    display: none;
  }
  
  header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
   .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
   .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
   .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
   .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
   .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  @media (min-width: 48em) {
    header li {
      float: left;
    }
     .menu {
      clear: none;
      float: right;
      max-height: none;
      width: unset;
    }
     .menu-icon {
      display: none;
    }

    header .nav-link, header .highlighted {
      font-size: 1rem;
    }
  }