<div class="home_container">
  <div class="left_container">
    <img
      *ngIf="data.mainImage"
      class="main_image"
      [src]="data.mainImage | sanityImage : 500"
      width="100%"
    />
  </div>
  <div class="right_container">
    <div class="right_inner_container">
      <h1>{{ data.title }}</h1>
      <h2>{{ data.subtitle }}</h2>
      <div class="link_icons">
        <a href="mailto://nate@wxlfe.dev">
          <button mat-icon-button class="icon_buttons">
            <ng-icon name="ionMail"></ng-icon>
          </button>
        </a>
        <a href="https://github.com/wxlfe">
          <button mat-icon-button class="icon_buttons">
            <ng-icon name="ionLogoGithub"></ng-icon>
          </button>
        </a>
        <a href="https://linkedin.com/in/wxlfe">
          <button mat-icon-button class="icon_buttons">
            <ng-icon name="ionLogoLinkedin"></ng-icon>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
